-r requirements.txt


pip
bump2version
wheel
watchdog
twine
setuptools

#docs
Sphinx

#lint
flake8
pyflakes
pylint

# analitics
# in Makefile: flake8 --max-complexity copypaster tests

mccabe

# security
bandit

# format
autoflake
isort
black

# tests
tox
coverage
pytest
pytest-runner

# sudo python3 -m easy_install clonedigger