* {
    outline: none;
}

button,
.text-button,
button label {
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}


#nested-navigation, .nested-navigation, button#nested-navigation, GtkButton#nested-navigation {
    font-weight: bold;
    font-size: 16px;
    background: #999999;
    color: #333333;
}


/* button collors */
.env {
    background: #c603fc;
}

.buildins {
    background: #03c2fc;
}

.gelb {
    background: #fce303;
}



.red {background: #f94144;}  /* control  */
.orange {background: #f3722c;} 
.yellow {background: #f8961e;} 
.mango {background: #f9844a;} 
.maize {background: #f9c74f;} /* exressions */
.pistachio {background: #90be6d;} /* data structures  */ 
.zomp {background: #43aa8b;} /* libraries */
.blue {background: #4d908e;} 
.queen {background: #577590;} 
.cg {background: #277da1;}  /* code snippets */
